<h2 class="screen-align">Homedata</h2>
<div id="template-iq5m" class="gjs-row">
    <div id="template-i1tn" class="gjs-cell">
        <label id="template-i74f" class="label ">
            <div id="template-i3ju8" class="">name</div>
        </label>
        <input id="template-inn7" [(ngModel)]="homedata.name" [ngModelOptions]="{standalone: true}"
        ngDefaultControlclass="input form-control " />
        <button id="template-igfjc" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-ihb8d" class="">Create</div>
        </button>
    </div>
    <div id="template-it7f" class="gjs-cell">
        <label id="template-iu35" class="label ">
            <div id="template-i60s7" class="">email</div>
        </label>
        <input id="template-iou6" [(ngModel)]="homedata.email" [ngModelOptions]="{standalone: true}"
        ngDefaultControlclass="input form-control " />
    </div>
</div>